*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik Mono One', sans-serif;
    box-sizing: border-box;
}

body{
    background: #1b1b1b;
}

/*CSS part of the Navigation Bar*/

.header-navbar{
    width: 100%;
    height: 80px;
    background: #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

i{
    font-size: 50px;
    cursor: pointer;
}

.homeimg{
    display: block;
    width: 40px;
    height: auto;
    cursor: pointer;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: #000;
    background: #fefefe;
}

.nav-bar ul li a:active{
    color: #000;
    background: #fefefe;
}

#textColor{
    color: #fefefe;
}

/*CSS part of the Student Details Images and Hovering Effect*/

h1{
    text-align: center;
}

/*Putting the images side by side*/

.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.column{
    float: left;
    width: 25%;
    padding: 5px;
}

.row:after{
    content: "";
    clear: both;
    display: table;
}

/*Displaying students information when hovering on top of their image*/

.single-img{
    position: relative;
}
    
.single-img:hover .information{
    opacity: 1;
}
    
.single-img:hover img{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
    
.single-img .information{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    color: #fff;
    opacity: 0;
}
    
.single-img .information h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.single-img:hover .information{
    opacity: 1;
}

.single-img:hover img{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

/*CSS part of the Footer*/

.center{
    text-align: center;
}

#box{
    width: 80%;
    max-width: 10%;
    border: 1px gray solid;
    margin: auto;
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
}

#box:hover{
    transition: .2s;
    transform: scale(1.1);
}
